{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    // 关闭禁止 CommonJS 的规则
    "import/no-commonjs": "off",
    "jsx-quotes": ["error", "prefer-double"]
  }
}
